body {
  margin-left: 20px;
  background: #fcfcfc;
}

h1 {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4f4f4f;
  margin: 0;
}

h2 {
  font-size: 100%;
  margin: 0 0 0 0;
}

h3 {
  font-size: 90%;
  color: #4f4f4f;
  margin: 0;
}

input[type='checkbox'] {
  margin: 0 4px 0 0;
}

#main {
  position: absolute;
  margin: 0 0 0 0;
  top: 20px;
  left: 250px;
  /* width: calc(100vw - 400px); */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

select {
  padding: 5px 6px;
  margin: 6px 0 0 0;
  font-size: 80%;
  width: 95px;
}

.view {
  display: inline;
  /* width: auto;  */
}


#ui {
  font-family: "Yu Gothic", "游ゴシック", "游ゴシック体", "YuGothic", Helvetica, sans-serif;
  position: fixed;
  font-size: 90%;
  left: 0px;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
}

.info {
  font-size: 80%;
}

#comp-option {
  height: 33px;
}


#word-rank-min-slider,
#word-count-min-slider {
  width: 100%;
  padding: 0 0 0 5px;
}

#scale {
  width: 95px;
  /* margin: 0 5px 0 0; */
  display: inline;
  transform: translate(0, 3px);
}
#scale-label {
  display: inline-block;
  position: absolute;
  transform: translate(2px, 6px);
}

#word-count-min-num,
#word-rank-min-num {
  width: 50px;
  padding: 0 0 0 5px;
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 4px;
  font: 10px sans-serif;
  color: #4f4f4f;
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  visibility: hidden;
}

label {
  margin: 0 20px 5px 0;
}

#ui .box {
  margin: 0 0 15px 0;
}

#ui .flex-box {
  display: flex;
  margin: 0 0px 15px 0;
}

#shrine-filter {
  width: 120px;
}
#target-filter,
#area-filter {
  width: 70px;
  margin: 0 0 20px 0;
}

#shrine-all,
#shrine-clear {
  width: 50px;
  font-size: 80%;
  margin: 5px 0 0 0;
}

#highlight-word {
  width: 180px;
  height: 16px;
  padding: 2px 5px 2px 5px;
  margin: 0;
}



#comp-option span {
  width: 95px;
  margin: 0;
  padding: 0;
}

#highlight {
  display: none;
}

button{
  margin: 5px 0 0 0;
  width: 95px;
  padding: 2px 0px;
  font-size: 80%;
}
button label {
  width: auto;
  margin: 0;
  padding: 0;
}

#highlight-color {
  padding: 0;
  margin: 0;
  background: #fff;
  transform: translate(0, 6px);
  width: 68px;
  border: none;
  height: 28px;
}

#load-box {
  position: absolute;
  top: 200px;
  left: 300px;
  color: #888;
}

#loader {
  border: 8px solid #888;
  border-radius: 50%;
  border-top: 8px solid rgba(255, 255, 255, 0);
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
